@media screen and (max-width: 767px) {
  body {
    max-width: 375px;
    margin: 0px 20px;
  }

  @media screen and (min-width: 376px) {
    body {
      margin: 0px auto;
    }
  }

  header {
    margin: 0px 0px 50px 0px;
    flex-direction: column;
    gap: 30px;
  }

  .nav1-hover,
  .nav2-hover {
    width: 112px;
  }

  .nav-hover {
    order: 2;
    width: 50vw;
    background: #f2f2f2;
  }

  .nav {
    margin: 0px 0px 20px 0px;
  }

  nav {
    justify-content: space-between;
    gap: 0px;
  }

  button {
    width: 50px;
    border-radius: 15px;
    margin-left: -10px;
    z-index: 1;
  }

  button i.fa-solid.fa-magnifying-glass {
    display: inline;
} 

  button span {
    display: none;
  }

  .filtres {
    flex-direction: column;
    align-items: flex-start;
  }

  .filtres-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .filtres-card {
    height: 50px;
    min-width: 120px;

  }

  .hebergement {
    flex-direction: column;
    align-items: flex-start;
  }

  aside {
    order: -1;
    border-radius: 0;
    margin: auto -20px;
    padding: 20px;
  }

  .container-aside {
    flex-direction: column;
    gap: 15px;
  }

  .offresMain {
    background-color: white;
    padding: 0px;
  }

  .container-main {
    flex-direction: column;
    padding: 0px;
    margin: 15px auto;
    gap: 15px;
  }

  .activites {
    padding: 0px;
    margin: 85px 0px 60px 0px;
  }

  .container-activite {
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
  }

  .card-activite {
    height: 200px;
    width: 100%;
  }

  .card-activite img {
    height: 141px;
    width: 100%;
  }

  footer {
    flex-direction: column;
    gap: 50px;
  }
}
