@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    margin: 0px 40px;
  }

  .filtres {
    flex-direction: column;
    align-items: flex-start;
  }

  .main {
    flex-direction: column;
    align-items: flex-start;
    width: 92%;
  }

  #aside {
    width: 100%;
  }

  .container-aside {
    flex-direction: row;
  }

  .card-aside {
    min-height: 146px;
    min-width: 206px;
  }

  .info-card-aside {
    margin: 10px 10px 5px 10px;
  }

  .card-activite img{
    height: 200px;
  }
}


